{% extends 'admin/lte.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_body %}
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                {{ form_end(form) }}
            </div>
        </div>
        <!-- /.box -->

    </section>
{% endblock %}